demands 
  h2 Demands
  ol 
    li The immediate end to the state of emergency, curfew & the removal of the national guard
    li The immediate demilitarization of the police department and the immediate return of all military equipment
    li The defunding of the police department (2017 budget: $246,644,617) and the redirection of those resources to the needs of our communities (including resources for jobs programs, affordable quality housing, transportation, holistic health and quality schools)
    li An independent investigation into the killing of Keith l. Scott and an investigation into the charlotte mecklenburg police department by the department of justice and a freeze on the nearly 1.5 million dollars awarded in federal grants annually to the department
    li A release of the police report and body camera footage connected with the killing of Keith l. Scott and all other killings to the public and immediately repeal of hb 972, which restricts the ability of the public to access police body camera footage
    li The immediate and unconditional release of all those arrested in connection with the uprising resulting from the killing of Keith l. Scott and the dropping of all charges
    li The release of all the names of the officers involved in the killing of Keith l. Scott to the public followed by their firing, arrest and prosecution
    li Reparations for the family of Keith l. Scott and all victims of police violence as well as the families of those who have been killed
    li Community control of the police, starting with the creation of a civilian oversight board that has the power to hire and fire officers, determine disciplinary actions as well as dictate police policies, priorities, and budgets. The board shall not include police representation and will be controlled by communities most impacted by policing and incarceration in Charlotte.
    li An end to the repression and targeting of protestors and all those engaged in the Charlotte uprising
