footer
  div.footerbar
    .footer-links
      a.footer(href='https://charlotteuprising.com/statement/') Statement
      a.footer(href='/#textbox') Demands
      a.footer(href='https://charlotteuprising.com/get-involved/') Get Involved
    .footer-links2
      a.footer(href='/donate') Donate
