footer
  div.footerbar
    div.footerimg
      img.footer-icon(src='../images/footerimg1.png')
      img.footer-icon(src='../images/footerimg2.png')
      img.footer-icon(src='../images/footerimg3.png')
      img.footer-icon(src='../images/footerimg4.png')
      img.footer-icon(src='../images/footerimg5.png')
  
