form.modal-content
  h2 Quick Donate
  .close
    a.modal-close(href='#') X
  br
  label First Name*
  br
  input.formText(type="text" value="" action="get" method="")
  br
  label Last Name*
  br
  input.formText(type="text" value="")
  br
  label Email*
  br
  input.formText(type="text" value="")
  br
  label Mobile Phone*
  br
  input.formText(type="text" value="")
  br
  label Zip Code*
  br
  input.formText(type="text" value="")
  br



  input.checkbox(type="radio")
  label $10
  br


  input.checkbox(type="radio")
  label $20
  br

  input.checkbox(type="radio")
  label $50
  br

  input.checkbox(type="radio")
  label $100
  br

  input.checkbox(type="radio")
  label $500
  br
  br

  label Other Amount
  input.formText(type="text" value="")
  br

  input.checkbox(type="checkbox" name="Childcare")
  label I want to contribute every month
  br
  br

  br
  label.textmessage Send me text message updates(message data rates may apply)*
  br
  label Yes
  input.checkbox(type="radio")
  label No
  input.checkbox(type="radio")
  br
  input.submit-button(type="submit" value="SUBMIT")
