extends layout

block content
  .home
    div.outer-slider
      div.inner-slider
        img.shown(src= '../images/carousel3.png')
        img.hidden(src= '../images/carousel4.png')
    .previous
      a.previous-link(href='#') <
    .next
      a.next-link(href='#') >
  .colorblock2
    .text
      p.info-message Charlotte Uprising is a coalition of community members, local and state organizers committed to ensuring the safety of their communities, and advocating for police accountability, transparency and social and economic equity.
  div.icon-section
      a.modal-link
        img.icons(src='../images/footerimg1.png')
      
      div.modal
        include form.pug
      mixin iconsection(imageUrl, url)
        a.icon(href=url)
          img.icons(src=imageUrl)
      +iconsection("/images/footerimg2.png", "/petition")
      +iconsection("/images/footerimg3.png", "/volunteer")
      +iconsection("/images/footerimg4.png", "/updates")
      +iconsection("/images/footerimg5.png", "/wishlist")
      +iconsection("/images/footerimg6.png", "https://docs.google.com/forms/d/e/1FAIpQLSca0JsQng7oDb820Bvhv4ORy5a4hd7Uxbg2tsTycfaFP5EDMA/viewform?c=0&w=1")
  .colorblock
    .text2
      p.text-message TEXT CHARLIT TO 91990 FOR MOBILE UPDATES
      p.text-message2 (Message and data rates may apply)
  .last-half
    #textbox.textbox
      .inner-textbox
        include urgentnews.pug
    .demands
      br
      .demands-text
        include demands.pug
