extends layout

block content
  .home
    div.outer-slider
      div.inner-slider
        img.shown(src= '../images/carousel3.png')
        img.hidden(src= '../images/carousel4.png')
    .previous
      a.previous-link(href='#') <
    .next
      a.next-link(href='#') >

  div.icon-section
    .icons1
      a.modal-link
        img.icons(src='../images/footerimg1.png')
        .caption Donate
      div.modal
        include form.pug
    .icons2
      a.icon(href='/petition')
        img.icons(src='../images/footerimg2.png')
        .caption Sign our petition
      a.icon(href='/volunteer')
        img.icons(src='../images/footerimg3.png')
        .caption Volunteer
      a.icon(href='/updates')
        img.icons(src='../images/footerimg4.png')
        .caption Get updates
      a.icon(href='/wishlist')
        img.icons(src='../images/footerimg5.png')
        .caption Wishlist
      a.icon(href='/wishlist')
        img.icons(src='../images/footerimg6.png')
        .caption Mental health support
  div.colorblock
    //text message 
  .last-half
    #textbox.textbox
      .inner-textbox
        h1 NEWS
        p Lorem ipsum dolor sit amet, quaestio perpetua ne usu, sit in purto nonumy persecuti. Nobis feugait atomorum eu eam. Sit at idque graeci, his libris graecis accusam ad. Iusto pertinax sed ut, quis nibh perpetua eu ius, delicata neglegentur qui an. Facer urbanitas ex eam, quo at homero voluptatibus. Est ea incorrupte concludaturque, ex magna habeo comprehensam sea. Ne recusabo conceptam cotidieque mei. Quo ludus verterem et, errem regione delicatissimi no eos, in eos decore facete iracundia. Error nostrud discere ei cum, sea at ipsum tation deleniti. Id nec brute elaboraret percipitur, eu sea fugit sadipscing, sea id posse mandamus. Virtute perfecto maluisset ea vel, duo veri nonumy euismod ea. Graecis fierent sapientem ex nec. No nihil viderer vel, primis timeam admodum usu ne. Ad usu lorem omnium, id pro vitae diceret accusata.
    .demands
      br
      .demands-text
        include demands.pug
      br
