extends layout

block content
  div.outer-slider
    a.previous-link(href='#') Previous
    a.next-link(href='#') Next
    div.inner-slider
      img.shown(src= '../images/carousel1.jpg')
      img.hidden(src= '../images/carousel2.jpg')
      img.hidden(src= '../images/carousel3.png')
    a.modal-link(href='#') Modal link
  div.modal
    a.modal-close(href='#') Close Modal Link
    form
      label First Name
      input(type="text" value="")
      label Last Name
      input(type="text" value="")
      label Email
      input(type="text" value="")
      label Mobile Phone
      input(type="text" value="")
      label Zip Code
      input(type="text" value="")
      label *Organization
      input(type="text" value="")
      label Childcare
      input(type="checkbox" name="Childcare")
      label Organizing
      input(type="checkbox")
      label Legal
      input(type="checkbox")
      label Graphic Design
      input(type="checkbox")
      label Direct Action
      input(type="checkbox")
      label Organizing
      input(type="checkbox")
      label Security
      input(type="checkbox")
      label Medical
      input(type="checkbox")
      label Policy
      input(type="checkbox")
      label Logistics
      input(type="checkbox")
      label Communication
      input(type="checkbox")
      label Send me text message updates(message data rates may apply)
      label Yes
      input(type="radio")
      label No
      input(type="radio")
      input(type="submit")
