doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato")
    link(rel='stylesheet' src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  body
    block nav
      include nav.pug
    block content

    block footer
      include footer.pug
