doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato")
    script(src="../scripts/jquery.js")
    script(src="../scripts/client.js")
  body
    block nav
      include nav.pug
    block content

    block footer
      include footer.pug
