nav
  div.navbar
    img.nav-logo(src='../images/logo.png')
    a.nav-link(href='/') Home
    a.nav-link(href='/volunteer') Volunteer
    a.nav-link(href='/donate') Donate
    p.nav-text Message and data rates my apply TEXT CHARLIT TO 91990 FOR MOBILE UPDATES
