nav
  div.mobile-header
    img.nav-logo-burger(src='../images/logo.png')
    a.burger-button(href='#') ☰
    
  div.navbar
    img.nav-logo(src='../images/logo.png')
    img.nav-icon(src='../images/facebook-icon.png')
    img.nav-icon(src='../images/twitter-icon.png')
    a.nav-link(href='/') Home
    a.nav-link(href='/volunteer') Volunteer
    .nav-link(href='/donate') Donate
  div.burger-menu
    .burger-link
      a.burger-nav(href="/volunteer") Volunteer
    .burger-link
      a.burger-nav(href="/donate") Donate

