nav
  div.mobile-header
    img.nav-logo-burger(src='../images/logo.png')
    a.burger-button(href='#') ☰
    
  div.navbar
    a.logo(href='/')
      img.nav-logo(src='../images/logo.png')
    a.logo-icon(href='https://www.facebook.com/charlotteuprising')
      img.nav-icon(src='../images/facebook-icon.png')
    a.logo-icon(href='https://twitter.com/cltuprising')
      img.nav-icon(src='../images/twitter-icon.png')
    a.nav-link(href='/') Home
    a.nav-link(href='/volunteer') Volunteer
    a.nav-link(href='/donate') Donate
  div.burger-menu
    .burger-link
      a.burger-nav(href="/volunteer") Volunteer
    .burger-link
      a.burger-nav(href="/donate") Donate

