nav
  div.navbar
    img.nav-logo(src='../images/logo.png')
    img.nav-icon(src='../images/facebook-icon.png')
    img.nav-icon(src='../images/twitter-icon.png')
    a.nav-link(href='/') Home
    a.nav-link(href='/volunteer') Volunteer
    a.nav-link(href='/donate') Donate
    //- p.nav-text TEXT CHARLIT TO 91990 FOR MOBILE UPDATES
    //- p.nav-text2 Message and data rates may apply
