extends layout

block content

  div.headimage
    img(src='../images/cuhead1.png')
  div.content-container
    h1 Sign Our Petition

    #textbox.pet-textbox
      .inner-textbox
        h2 STOP KILLING BLACK PEOPLE:
        br
        h3 JUSTICE FOR KEITH LAMONT SCOTT AND ALL BLACK PEOPLE MURDERED BY COPS

        p WE DEMAND:
        br
        ol
          li THE IMMEDIATE END TO THE STATE OF EMERGENCY, CURFEW & THE REMOVAL OF THE NATIONAL GUARD
          br
          li THE IMMEDIATE DEMILITARIZATION OF THE POLICE DEPARTMENT AND THE IMMEDIATE RETURN OF ALL MILITARY EQUIPMENT
          br
          li DEFUNDING OF THE POLICE  DEPARTMENT (2017 Budget: $246,644,617) AND THE REDIRECTION OF THOSE RESOURCES TO THE NEEDS OF OUR COMMUNITIES (INCLUDING RESOURCES FOR JOBS PROGRAMS, AFFORDABLE QUALITY HOUSING, TRANSPORTATION, HOLISTIC HEALTH AND QUALITY SCHOOLS)
          br
          li AN INDEPENDENT INVESTIGATION INTO THE KILLING OF KEITH L. SCOTT AND AN INVESTIGATION INTO THE CHARLOTTE MECKLENBURG POLICE DEPARTMENT BY THE DEPARTMENT OF JUSTICE  AND A FREEZE ON THE NEARLY 1.5 MILLION DOLLARS AWARDED IN FEDERAL GRANTS ANNUALLY TO THE DEPARTMENT
          br
          li A RELEASE OF THE POLICE REPORT AND BODY CAMERA FOOTAGE CONNECTED WITH THE KILLING OF KEITH L. SCOTT  & ALL OTHER KILLINGS TO THE PUBLIC AND IMMEDIATELY REPEAL OF HB 972, WHICH RESTRICTS THE ABILITY OF THE PUBLIC TO ACCESS POLICE BODY CAMERA FOOTAGE
          br
          li THE IMMEDIATE AND UNCONDITIONAL RELEASE OF ALL THOSE ARRESTED IN CONNECTION WITH THE UPRISING RESULTING FROM THE KILLING OF KEITH L. SCOTT & THE DROPPING OF ALL CHARGES RELEASE OF ALL
          br
          li THE NAMES OF THE OFFICERS INVOLVED IN THE KILLING OF KEITH L. SCOTT TO THE PUBLIC FOLLOWED BY THEIR FIRING, ARREST AND PROSECUTION
          br
          li REPARATIONS FOR THE FAMILY OF KEITH L. SCOTT AND ALL VICTIMS  OF POLICE VIOLENCE AS WELL AS THE FAMILIES OF THOSE WHO HAVE BEEN KILLED
          br
          li AN END TO THE REPRESSION & TARGETING OF PROTESTORS AND ALL THOSE ENGAGED IN THE CHARLOTTE UPRISING.


        p In 2015, Charlotte Mecklenburg Police Department was among 14 large police departments in the U.S. who ONLY killed Black people. That year, one person murdered included Janisha Fonville, killed by Officer Anthony Holzhauer as she was having a mental health crisis in her home. This same officer shot and killed "execution style" 28 year old Michael Laney, a father of three, on the porch of his Charlotte, NC home on July 12, 2012. No charges were brought up against Holzhauer for killing Janisha or Michael. In 2013, Jonathan Ferrell, a young Black man was shot 12 times and killed by a cop after knocking on someone’s door to ask for help after a car accident. The officer who killed Jonathan, Randall Kerrick was charged with voluntary manslaughter but in 2015, a mistrial was declared. Shortly after Kerrick resigned from CMPD, serving no jail time and receiving no punishment for murdering Jonathan.
        br
        p Neither Jonathan nor Janisha’s murders are isolated incidents and CMPD’s trigger happy behavior is not either. Just in the past several weeks, we’ve witnessed the killing of a young Black man, Rodney Rodriguez Smith, on a CATS bus; the killing of a deaf man, Daniel Harris, in front of his home; and of course, the murder of Keith Lamont Scott earlier this week.
        br
      p#standout On September 20, CMPD shot and killed Keith Lamont Scott, a disabled Black man reading in his car while waiting for his son to get off the bus from school. His family, community, and organizers in Charlotte have been taking to the streets and have put out a national call for accomplices to come to Charlotte.
        br
        p This assault on Black lives is only a continuation of the hundreds of years of brutality and anti-blackness in this country. In Charlotte, specifically, Black and Brown people have bore the brunt of gentrification, the concentration of major energy and banking corporations, and the ongoing militarization of the police state. In 2012, Charlotte hosted the Democratic National Convention where the CMPD received $50 million to purchase new toys to do their beating. We expect that a lot of this equipment will be kicked into high gear during this time -- from sound bombs, flash bang grenades, helicopters, riot gear, etc.
        br
        p Charlotte, the second largest banking city in the U.S. after NYC runs rampant with corrupt politicians and bankers who are pushing through laws like anti-worker, anti-trans HB2. Most recently conservative Gov. Pat McCrory, passed a bill into law making body camera footage off limits to the public. Grassroots organizers are on the frontlines standing in solidarity with the community members most impacted by police brutality and systemic oppression. Help us keep them safe by signing this petition.
        br
        h3 JUSTICE FOR KEITH LAMONT SCOTT AND ALL BLACK LIVES!
        p#smalltype This petition was crafted by Charlotte Uprising with support from: Charlotte Trans and Queer People of Color Collective, Ignite NC, Youth Organizing Institute, Southern Vision Alliance, Charlotte SURJ, Queer People of Color Collective GSO, Charlotte Tribe, Charlotte SURJ, Ignite NC, Black Youth Project-Durham Chapter, Beloved Community Center, Durham Solidarity Center, Workers World Party, NC TROUBLMakers, Million Hoodies, Black University, Southerners On New Ground.



    div.petition-form
      p.intro Sign this petition and tell the Department of Justice, Charlotte City Council, Governor Pat McCrory and CMPD police Chief Kerr Putney, and all other police departments and all levels of government that we will not stay on the sidelines as the assault on Black lives continues.
      br
      label First Name
      br
      input.formText(type="text" value="" action="get" method="")
      br
      label Last Name
      br
      input.formText(type="text" value="")
      br
      label Email
      br
      input.formText(type="text" value="")
      br
      label Mobile Phone
      br
      input.formText(type="text" value="")
      br
      label Street Address
      input.formText(type="text" value="")
      br

      label State
      br
      select
        option(value='AL') Alabama
        option(value='AK') Alaska
        option(value='AZ') Arizona
        option(value='AR') Arkansas
        option(value='CA') California
        option(value='CO') Colorado
        option(value='CT') Connecticut
        option(value='DE') Delaware
        option(value='DC') District Of Columbia
        option(value='FL') Florida
        option(value='GA') Georgia
        option(value='HI') Hawaii
        option(value='ID') Idaho
        option(value='IL') Illinois
        option(value='IN') Indiana
        option(value='IA') Iowa
        option(value='KS') Kansas
        option(value='KY') Kentucky
        option(value='LA') Louisiana
        option(value='ME') Maine
        option(value='MD') Maryland
        option(value='MA') Massachusetts
        option(value='MI') Michigan
        option(value='MN') Minnesota
        option(value='MS') Mississippi
        option(value='MO') Missouri
        option(value='MT') Montana
        option(value='NE') Nebraska
        option(value='NV') Nevada
        option(value='NH') New Hampshire
        option(value='NJ') New Jersey
        option(value='NM') New Mexico
        option(value='NY') New York
        option(value='NC') North Carolina
        option(value='ND') North Dakota
        option(value='OH') Ohio
        option(value='OK') Oklahoma
        option(value='OR') Oregon
        option(value='PA') Pennsylvania
        option(value='RI') Rhode Island
        option(value='SC') South Carolina
        option(value='SD') South Dakota
        option(value='TN') Tennessee
        option(value='TX') Texas
        option(value='UT') Utah
        option(value='VT') Vermont
        option(value='VA') Virginia
        option(value='WA') Washington
        option(value='WV') West Virginia
        option(value='WI') Wisconsin
        option(value='WY') Wyoming
      br
      br
      label Zip code
      br
      input.formText(type="text" value="")
      br

      br
      label.textmessage Send me text message updates(message data rates may apply) 

      label Yes
      input.checkbox(type="radio")
      label No
      input.checkbox(type="radio")
      br

      input.submit-button(type="submit" value="SIGN THE PETITION")
      p#smalltype The information you provide will NOT be shared with any third party organisations. Thank you for getting involved in our campaign!
