urgentnews
  .urgent-news
    h2 WE DEMAND AN IMMEDIATE END TO REPRESSION OF DEMONSTRATORS IN CHARLOTTE! Call/Email CMPD, Mecklenburg County Sheriff, Mayor Roberts, Attorney General Roy Cooper, & Governor Pat McCrory  
    br 
    p Jail Liaison – Karla Gary
    br 
    p OFFICE PHONE: 980-314-5550
    br 
    p EMAIL: Karla.Gary@mecklenburgcountync.gov
    br
    p Public Information Manager – Anjanette Flowers Grube
    br
    p OFFICE PHONE: 980-314-5170
    br
    p CELL PHONE: 704-634-5072
    br 
    p EMAIL: Anjanette.Grube@mecklenburgcountync.gov
    br
    p Mayor Jennifer Roberts
    br
    p Phone: 704-336-2241
    br
    p email: mayor@charlottenc.gov
    br
    p Governor Pat McCrory
    br
    p Phone: (919) 814-2000
    br
    p Phone:(919)733-4240
    br
    p email: governor.office@governor.ncmail.net 
    br
    p Attorney General Roy Cooper
    br
    p Telephone: (919) 716-6400
    br
    p info@roycooper.com 
    br
    p Since demonstrations began against the police murder of Keith Lamont Scott, police in Charlotte have been mass arresting protesters & legal observers, using chemical weapons, and violating their most basic rights.  
    br
    p Jamil Gill (aka King Mills), who many around the country and the world know for his on the ground livestreams from the first nights of protest, has been a particular target of police repression ever since the protests began. He was arrested and issued an outrageous bond of $320,000, which the movement fought and reduced to a still obscene amount of $162,000.  
    br
    p He was bonded out early in the day on September 28, and subsequently REARRESTED by police as he ate lunch! This is a clear attempt to intimidate and harass Gill, and an attempt by the state to silence and have a chilling effect on the rest of the movement. 
    br
    p During demonstrations on September 21, police attacked the protests and killed 26 year old Black man Justin Carr. Continuing their targeting Black and Brown people and a total lack of transparency by the CMPD, they are falsely accusing Raquan Borum for Justin’s death. 
    br
    p The police have continued to violate arrestee’s legal rights by:
    br
    p Instructing the National Guard and police to blockade the jail (at least three times since the uprising began) to prevent the release of arrestees whose bond was paid 
    br
    p Using bogus excuses like fire drills, ‘suspicious packages,’ and even characterizing our jail solidarity team gathering at the jail as a ‘protest’ to lock down the jail for hours
    br
    p Intentionally delaying the release of arrestees
    br
    p Not published arrestees’ names online, impeding our ability to provide them legal support 
    br
    p We need you to call and email the jail, Charlotte and state officials and demand that they stop violating arrestees’ rights!
    br
    br
    h2 SCRIPT FOR CALL OR EMAIL –  
    br
    p “Hello –  
    br
    p My name is _______ and I am a resident of 
    br 
    p ________. Can I speak to ? 
    br
    p I am calling to demand that you stop the repression of demonstrators in Charlotte.  
    br
    p We demand an end to the attacks on  Jamil Gill! Stop the arrests of all protesters!
    br
    p We demand that an independent investigation of the killing of Keith L Scott and the Charlotte Mecklenburg Police Dept!
    br
    p We demand that you stop purposefully obstructing the release of arrestees!
    br
    p We demand that all the charges against those who have been arrested are dropped!
    br
    p Hands off #CharlotteUprising! The whole world is watching, and we won’t stop until our demands are met and the people get justice!
    br
    p By Charlotte Uprising - 09/29/2016