extends layout

block content

  div.headvolunteer
    img.headvolunteer(src='../images/volunteer.png')
  div.content-container
    h1 Volunteer
    label First Name
    br
    input.formText(type="text" value="" action="get" method="")
    br
    label Last Name
    br
    input.formText(type="text" value="")
    br
    label Email
    br
    input.formText(type="text" value="")
    br
    label Mobile Phone
    br
    input.formText(type="text" value="")
    br
    label Zip Code
    br
    input.formText(type="text" value="")
    br
    label *Organization
    br
    input.formText(type="text" value="")
    br
    label Childcare
    input.checkbox(type="checkbox" name="Childcare")
    label Organizing
    input.checkbox(type="checkbox")
    label Legal
    input.checkbox(type="checkbox")
    label Graphic Design
    input.checkbox(type="checkbox")
    label Direct Action
    input.checkbox(type="checkbox")
    label Organizing
    input.checkbox(type="checkbox")
    label Security
    input.checkbox(type="checkbox")
    label Medical
    input.checkbox(type="checkbox")
    label Policy
    input.checkbox(type="checkbox")
    label Logistics
    input.checkbox(type="checkbox")
    label Communication
    input.checkbox(type="checkbox")
    br
    label.textmessage Send me text message updates(message data rates may apply)
    br
    label Yes
    input.checkbox(type="radio")
    label No
    input.checkbox(type="radio")
    br
  div.volunteer-button
    input.submit-button(type="submit" value="SUBMIT")
