extends layout

block content
  h1 Wishlist Page
  div.wishlist
    p Please contact us if you have any of the following items to share.
    br
    ul
      li Individual packets of saline (eye drops)
      br
      li Electrolytes (gatorade, powerade, etc.)
      br
      li Goggles (small & large to fit over glasses)
      br
      li Clothes (basic t-shirts and sweats, etc. for folks whose clothes have been pepper sprayed)
      br
      li Bullhorns
      br
      li Bandanas
      br
      li Gas masks
      br
      li Vinegar
      br
      li Black sharpies
      br
      li First aid kits
      br
      li Recharger battery packs
      br
      li Plastic drop cloths
      br
      li Sheets (white, cheap/inexpensive)
      br
      li Gas cards
      br
      li Liquid antacid (WITHOUT dimethicone/simethicone)
