body, html {
  font-family: 14px "Lato";
  margin: 0px;
}

h1, p {
  font-family: "Lato";
}
/* navbar */

.navbar {
  width: 100%;
  background-color: #303038;
  color: #e9e9f3;
  height: 80px;
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Lato";

}

.nav-link {
  float: right;
  color: #e9e9f3;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  margin-top: 20px;
}

.nav-icon {
  float: right;
  color: #E9E9F3;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  top: 2px;
  right: 20px;
  margin-top: 10px;
  height: 40px;
  width: auto;
  margin-right: 2px;
}

.nav-icon:hover {
  height: 45px;
  width: auto;
}

.nav-logo {
  position: relative;
  width: auto;
  height: 70px;
  margin-left: 30px;
  margin-top: -5px;
}

.nav-link:hover {
  border-bottom: 1px solid #E9E9F3;
  font-size: 16px;
  padding-bottom: 4px;
}

.footerbar {
  width: 100%;
  background-color: #303038;
  height: 90px;
  bottom: 0;
  text-align: center;
  position: relative;
  color: white;
}

.footer-text {
  padding: 20%;
}

.footer-links {
  display: inline-block;
  padding-top: 35px;
}

.footer-links2 {
  display: inline-block;
  padding-top: 35px;
}

a.footer {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 14px;
}

a.footer:visited{
  text-decoration: none;
}

form {
  background-color: #303038;
}


/* slider */

.outer-slider {
  text-align: center;
  background-image: url('../images/carousel2.jpg');
}

.inner-slider {
  display: inline-block;
  padding-left: 150px;
}

.previous-link{
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  left: 10px;
  top: 350px;
  z-index: 2;
  position: absolute;
  color: black;
}

.next-link {
  float: right;
  margin-right: 5%;
  margin-left: 5%;
  position: absolute;
  right: 10px;
  top: 350px;
  z-index: 2;
  color: black;
}

.previous {
  float: left;
}

.next {
  float: right;
}

div.inner-slider img {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
/*  max-width: 1200px;
  min-height: 500px;*/
  margin-top: 0;
  float: left;
}

.shown {
  display: inline-block;
}

.hidden {
  display: none;
}

/* textbox inner scroll */

.textbox {
  height: 400px;
  width: 25%;
  margin: 10px;
  box-shadow: .2px .2px .2px .2px black;
  padding: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
}

.last-half {
  margin-bottom: 75px;
}

.demands {
  display: inline-block;
  width: 50%;
  font-family: "Lato";
  font-size: 120%;
  padding-left: 25px;
  padding-top: 0;
}

.demands-text {
  display: inline-block;
  width: 100%;
  font-family: "Lato";
  font-size: 75%;
  padding-top: 0;
  margin-top: 0;
}


/* media query to make navbar appear and burger disappear vice versa */

/* ipad */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .burger-link, .burger-menu {
      display: inline-block;
      position: absolute;
    }

    a.icon, a.icon:visited, a.modal-link {
      width: 100%;
    }

    .info-message {
      font-size: 10px;
    }
    .nav-link {
      display: none;
    }
    .footer-links {
      display:none;

    }
    .footer-links2 a.footer {
      font-size: 32px;
      margin: 5px;
    }

}

/* iphone4 */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .burger-link, .burger-menu {
      display: block;
    }
    .navbar {
      display: none;
    }

      a.icon, a.icon:visited, a.modal-link {
      width: 100%;
    }

    .footer-links {
      display: none;
    }

    .footer-links2 a.footer {
      font-size: 32px;
      margin: 5px;
    }
}


@media(min-device-width: 768px){
  .burger-menu, .mobile-header{
    display: none;
  }
}

.burger-bar {
  border-bottom: 2px solid white;
  margin-top: 3px;
}

img.nav-logo-burger {
  position: absolute;
  left: 20px;
  top: 0;
  width: 200px;
  height: auto;
}

.burger-link {
  font-size: 70px;
  padding-bottom: 10px;
  text-decoration-line: underline;
  text-decoration-color: red;
  padding-right: 15px;
}



a.previous-link, a.next-link{
  text-decoration: none;
  font-size: 75px;
  color: #e9e9f3;
}

a.previous-link:hover, a.next-link:hover {
  font-size: 80px;
  color: #e9e9f3;
}


/* homepage styling */

#body.home {
  display: block;
}


.icon-section {
  display: block;
  flex-flow: nowrap;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 2.5px;

}

.mobile-header {
  background-color: #303038;
  width: 100%;
  height: 120px;
}

.burger-button {
  font-size: 50px;
  color: #e9e9f3;
  text-decoration: none;
  text-align: right;
  position: absolute;
  right: 10px;
  top: 10px;
}

.burger-button:visited {
  text-decoration: none;
}

.burger-menu {
  width: 100%;
  background-color: #303038;
  text-align: right;
  color: #e9e9f3;
  font-family: "Lato";
  text-decoration: none;
  font-size: 24px;
  word-spacing: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

a.burger-nav {
  text-decoration: none;
  color: #E9E9F3;
}

img.icons {
  width: 80%;
  height: auto;
}

/* colorblock with text */

.colorblock {
  width: 100%;
  height: auto;
  background-color: #fffd61;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.colorblock2 {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  padding-bottom: 5px;
}


.text {
  color: white;
  background-color: #303038;
  padding: 3px;
}

.text2 {
  color: white;
  background-color: #fffd61;
  padding: 3px;
  border-bottom: 3px white solid;
  border-top: 3px white solid;
}

.text-message {
  text-align: center;
  font-size: 38px;
  color: #303038;
  text-transform: uppercase;
}

.text-message2 {
  text-align: center;
  font-size: 16px;
  color: #303038;
  text-transform: uppercase;
}

.info-message {
  text-align: center;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  border-bottom: 3px white solid;
  border-top: 3px white solid;
  padding: 10px;
  line-height: 34px;
  word-spacing: 3px;
}


a.icon, a.icon:visited, a.modal-link {
  width: 25%;
  margin: 20px;
  display:inline-block;
  text-decoration: none;
  font-family: 'Lato';
  padding: 10px;
  color:#303038;
  text-align: center;
  align-items: center;
}

a.icon:hover, a.modal-link:hover {
  width: 27%;
}

.caption {
  text-transform: uppercase;
  font-size: 80%;
  color: #303038;
}

/*modal*/

.modal {
  display: none;
  z-index: 100;
  height: inherit;
  position: relative;
  padding-top: 0px;
  width: 600px;
  align-items: center;
  z-index: 1000;
  top: 25%;
  margin: 0 auto;
  background-color: #303038;
}


.formText {
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 90%;
  font-size: 24px;
  text-align: center;
}

.formCheck {
  position: absolute;
  bottom: 10px;
  margin: 5px;
}

.close {
  right: 10px;
  top: 10px;
  position: absolute;
}

a.modal-close:visited {
  text-decoration: none;
  color: #e9e9f3;
}

a.modal-close {
  text-decoration: none;
  color: #e9e9f3;
}

input.checkbox {
  margin-right: 10px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.modal-content a:visited {
  text-decoration: none;
}

.modal-content {
  background-color: hsla(141, 5%, 35%, .9);
  text-transform: uppercase;
  font-family: "Lato";
  align-items: center;
  position: absolute;
  top: -200px;
  width: 100%;
  color: #e9e9f3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 18px;
  text-decoration: none;
  -webkit-animate-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
  z-index: 1000;
  padding: 25px;
}

.submit-button {
  width: 50%;
  height: 40px;
  background-color: #c45656;
  border: 2px black solid;
  font-size: 20px;
  color: white;
}

.submit-button:hover {
  background-color:#c45656;
  border: 2px white solid;
  width: 55%;

}

@-webkit-keyframes animatetop {
  from { opacity: 0}
  to{opacity:1}
}

@keyframes animatetop {
  from{opacity: 0}
  to {opacity: 1}
}

.urgent-news {
  font-family: "Lato";
}

.colorblock {
  margin-top: 20px;
  position: relative;
  height: 200px;
}


/*content-container adds padding around all contents on page*/

.content-container{
  padding: 50px;
}

/*form container on petition page*/
.petition-form {
  width: 50%;
  float: right;
}

/*p.intro styles introduction text inside forms*/
p.intro {
  font-style: italic;
  font-size: 14px;
  line-height: 28px;
}

/*textbox on petition page*/
.pet-textbox {
  height: 500px;
  width: 35%;
  margin: 20px;
  box-shadow: .2px .2px .2px .2px #a1a1b5;
  padding: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  font-size: 14px;
}

h1, h3 {
  font-style: "Lato";
  text-transform: uppercase;
  text-align: center;

}

/*to style font inside textbox on petition page*/

.inner-textbox {
  font-family: "Lato";
  font-size: 12px;

}

p#standout {
  font-weight: bold;
}


/*to style header image on volunteer page*/

.headvolunteer img {
  width: 100%;
}

/*to style submit button on the volunteer page form*/

.volunteer-button {
margin-left: 40%;
margin-right: 40%;
margin-bottom: 50px;
}

.wishlist {
  margin-left: 50px;
  font-family: 'Lato';
}

p#smalltype {
  font-size: 8px;
}

.submit-button{
  margin-left: 22%;
}

.donateimages{
margin: 50px;

}

.donate1pic {
  float:left;
}

.donate2pic {
  float:right;
}
.bailfund {
  width: 35%;
  float: right;
  margin-right: 50px;
}


.submit-button2 {
  height: 40px;
  background-color: #c45656;
  border: 2px black solid;
  font-size: 20px;
  color: white;
  width: 57%;
  margin-left: 20%;
}

.submit-button2:hover {
  background-color:#c45656;
  border: 2px white solid;
  width: 65%;
}
