body, html, h1 {
  font-family: 14px "Lato";
  margin: 0px;
}

h1, p {
  font-family: "Lato";
}

/* navbar */

.navbar {
  width: 100%;
  background-color: #303038;
  color: white;
  height: 80px;
  padding-top: 20px;
  font-family: "Lato";

}

/*.navbar @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}*/

.nav-link, .nav-text{
  float: right;
  color: red;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  margin-top: 20px;
}

.nav-icon {
  float: right;
  color: #E9E9F3;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  margin-top: 20px;
  height: 40px;
  width: auto;
  margin-top: 5px;
  margin-right: 40px;
}

.nav-icon:hover {
  height: 45px;
  width: auto;
}


.nav-text2 {
  float: right;
  color: #E9E9F3;
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  position: relative;
  margin-top: 20px;
}

.nav-logo {
  position: relative;
  width: auto;
  height: 70px;
  margin-left: 40px;
  margin-top: -5px;
}

.nav-link:hover {
  border-bottom: 1px solid #E9E9F3;
  font-size: 16px;
  padding-bottom: 4px
}

.footerbar {
  width: 100%;
  background-color: #303038;
  height: 120px;
  position: relative;
  bottom: 0;
  text-align: center;
}

.footerimg{
  display: inline-block;
  flex-flow: wrap;
  align-content: space-between;

}

.footer-icon {
  height: 90px;
  width: 90px;
  margin: 10px;
}

/* slider */


.inner-slider {
  display: inline-block;
  flex-flow: wrap;
}

.previous-link, .next-link {
  float: left;
  margin-top: 120px;
}

.previous-link {
  margin-right: 10px;
}

.next-link {
  margin-left: 10px;
}

div.inner-slider img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
  margin-top: 0px;
  float: left;
}

.shown {
  display: inline-block;

}

.hidden {
  display: none;
}

/* textbox inner scroll */

.textbox {
  height: 100px;
  width: 25%;
  scrollbar-base-color: black;
  margin: 20px;
  outline: 1px black solid;
  padding: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* media query to make navbar appear and burger disappear vice versa */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .burger-link, .burger-menu {
      display: inline-block;
      position: absolute;
    }
    .nav-link {
      display: none;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .burger-link, .burger-menu {
      display: block;
    }
    .nav-link {
      display: none;
    }
}
@media(min-device-width: 768px){
  .burger-menu{
    display: none;
  }
}

.burger-bar {
  border-bottom: 2px solid white;
  margin-top: 3px;
}
