body, html {
  font: 14px "Lato";
  margin: 0px;
}

/* navbar */

.navbar {
  width: 100%;
  background-color: #303038;
  color: white;
  height: 90px;
  padding-top: 20px;
}

.nav-link, .nav-text {
  float: right;
  color: #E9E9F3;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  margin-top: 20px;
}

.nav-text {

}

.nav-logo {
  position: relative;
  width: auto;
  height: 70px;
  margin-left: 20px;
}

.nav-link:hover {
  border-bottom: 1px solid #E9E9F3;
  font-size: 19px;
  padding-bottom: 5px
}
